MEMORY {
  LOWMEM:
    start = $0000
    size  = $11ff
    fill  = no;
  INIT: 
    start = $11ff 
    size = $0e01
    fill = yes;
  RAM:  
    start = $2000
    size = $8000;
  HIRAM:
    start = $a000
    size = $2000;
}

SEGMENTS {
    CODE:   load = RAM;
    DATA:   load = RAM, type = rw;
    BSS:    load = RAM, type = bss, define = yes;
    SOURCE: load = HIRAM, type = bss, define = yes;
    SETUP:  load = INIT;
}
