SYMBOLS {
  # the maximum size of a single line (also the size of the line buffer)
  __LINESIZE__:  type = export, value = 40;
}

MEMORY {
  INIT:
    start = $0801
    size  = $97ff
    fill  = no;

  RAM:
    start = $0801
    size  = $f7ff

  APPRAM:
    start = $0801
    size  = $f7ff
}

SEGMENTS {
	# SETUP (for bootloader)
	SETUP:  load = INIT, define = yes;
	DATA:   load = INIT, run = APPRAM, type = rw, define = yes;
	IRQ:    load = INIT, run = APPRAM, type = ro, define = yes;
	RODATA: load = INIT, run = APPRAM, type = ro, define = yes;

	# CODE SEGMENTS
	DEBUGGER:       load = RAM, run = APPRAM, type = rw, define = yes;
	CODE:           load = RAM, run = APPRAM, type = ro, define = yes;
	DEBUGINFO_CODE: load = RAM, run = APPRAM, type = rw, define = yes;
	COPYBUFF:       load = RAM, run = APPRAM, type = ro, define = yes;
	MACROCODE:      load = RAM, run = APPRAM, type = ro, define = yes;
	CONSOLE:        load = RAM, run = APPRAM, type = ro, define = yes;
	LABELS:         load = RAM, run = APPRAM, type = ro, define = yes;
	BANKCODE:       load = RAM, run = APPRAM, type = ro, define = yes;
	BANKCODE2:      load = RAM, run = APPRAM, type = ro, define = yes;

	NMI_HANDLER: load = NMI_HANDLER, run = NMI_HANDLER, type=bss, define = yes;

	# BSS SEGMENTS
	BSS:          load = APPRAM, type = bss;
	LABEL_BSS:    load = APPRAM, type = bss;
	LABELNAMES:   load = APPRAM, type = bss;
	DEBUGINFO:    load = APPRAM, type = bss;
	COPYBUFF_BSS: load = APPRAM, type = bss;
	SHAREBSS:     load = APPRAM, type = bss;
	LINEBUFF:     load = APPRAM, type = bss;
	CONSOLE_BSS:  load = APPRAM, type = bss;
	MACROBSS:     load = APPRAM, type = bss;
	SOURCE:       load = APPRAM, type = bss;
}
