MEMORY {

  INIT: 
    start = $11ff 
    size = $6e01
    fill = no;

  RAM:  
    start = $2000
    size = $8000;

  APPRAM:
    start = $2000
    size  = $6000;

  HIRAM:
    start = $a000
    size  = $2000;

  MACRO:
    start = $a000
    size  = $2000;

  LINKER:
    start = $a000
    size  = $2000;

  LABELS:
    start = $b800	# labels addresses use $a000-$b800
    size  = $800;

  FTXT:
    start = $b000
    size = $1000;

  SAVESCR:
    start = $2100
    size = $5f00;

  SHARERAM:
    start = $33c
    size  = $80;

}

SEGMENTS {
	# setup
	SETUP:  load = INIT, define = yes;
	DATA:   load = INIT, run = HIRAM, type = rw, define = yes;
	IRQ:    load = INIT, run = SHARERAM, type = ro, define = yes;
	SHAREBSS: load = SHARERAM, type = bss;

	# bank $01
	BANKCODE: load = INIT, run = APPRAM, define = yes;
	DEBUGGER:  load = RAM, run = APPRAM, type=rw, define = yes;
	CODE:   load = RAM, run = APPRAM, type = ro;
	RODATA: load = RAM, run = APPRAM, type = ro;

	# BSS
	BSS:      load = HIRAM, type = bss, define = yes;

	# Bank $05
	# SAVESCR resides above the screen column backups (at $a000) 
	SAVESCR: load = INIT, run = SAVESCR, type = ro, define = yes;
	SAVESCR_BSS: load = SAVESCR, type = bss;

	# bank $0e
	FASTTEXT: load = INIT, run = FTXT, type = ro, define = yes;
	FASTTEXT_BSS: load = FTXT, type = bss;
	MACROCODE: load = INIT, run = MACRO, type = ro, define = yes;
	MACROBSS: load = MACRO, type = bss;

	# bank $06
	LINKER: load = INIT, run = LINKER, type = ro, define = yes;

	# bank $0d
	LABELS: load = INIT, run = LABELS, type = ro, define = yes;
	LABEL_BSS: load = LABELS, type = bss;
}
