MEMORY {
  LOWMEM:
    start = $0000
    size  = $11ff
    fill  = no;
  INIT: 
    start = $11ff 
    size = $0e01
    fill = yes;
  RAM:  
    start = $2000
    size = $8000;
  HIRAM:
    start = $a000
    size = $2000;
  TOPRAM:
    start = $b000
    size = $1000;
  MACRO:
    start = $a000
    size = $2000;
  UNIVERSAL_IRQ:
    start = $33c
    size  = $40;
}

SEGMENTS {
    BANKCODE: load = RAM, define = yes;
    DEBUGGER:  load = RAM, type=rw, define = yes;
    CODE:   load = RAM, type = ro;
    RODATA: load = RAM, type = ro;

    BSS:    load = HIRAM, type = bss, define = yes;

    SETUP:  load = INIT;
    DATA:   load = INIT, run = HIRAM, type = rw, define = yes;
    IRQ:    load = INIT, run = UNIVERSAL_IRQ, type = ro, define = yes;

    FASTTEXT: load = INIT, run = TOPRAM, type = ro, define = yes;
    MACROCODE: load = INIT, run = MACRO, type = ro, define = yes;
    MACROBSS: load = MACRO, type = bss;
}
